<!DOCTYPE html>
<html>
<head>
    <title>Angular JS and D3</title>
	<meta charset="utf-8" />

    <script src="scripts/angular.js"></script>
    <script src="scripts/d3.v4.js"></script>

    <script src="scripts/index.js"></script>

    <link href="style/style.css" rel="stylesheet" />
</head>
<body ng-app="App" ng-controller="TodoCtrl">
    <input type="button" ng-click="showMinimum()" value="Show minimum" />
    <input type="button" ng-click="showMaximum()" value="Show maximum" />
    <input type="button" ng-click="showBoth()" value="Show both" />
</body>
</html>
